/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-base: Inter-Variable;
    --font-accent: 'PressStart2P';
    --wght-text: 400;
    --wght-title: 700;
    --bg-color: #fff;
    --color-text: #000;
    --p-block_header: clamp(120px, 8.8vw, 128px);
    --border: 2px solid #000;
    --focus-color: #000;
    /* Цвет обводки и тени заменен самовольно на #240763, с #fff на моих картинках подписи нечитабельны!*/
    --contour-text: #240763;

    /*Градиент*/
    --gradient_line-left: repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px);
    --gradient_line-top: repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px);
    --gradient-top: linear-gradient(#e7e7e7 0.01%, #1a1a1a);

    /* Сердце*/
    --contour-color: #000;
    --animation-fill-color: #f00;
}
